.container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    margin-bottom: 2rem;
    z-index: 1;
    max-width: 1200px;
    margin: 2rem auto;
    border-radius: 12px;
    color: #fbeee0;
}


h1, h2, h3 {
    color: #fbeee0;
}
a {
    color: #ffd;
    text-decoration: underline;
}
.section {
    margin-bottom: 2rem;
}
ul {
    list-style: none;
    padding-left: 0;
}