  #bg {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url('../Images/branding-logo.png');
  background-size: 100px 100px;
  height: 100vh;
  width: 100vw;
  animation: scroll 90s infinite linear;
  opacity: 0.05;
  background-repeat: repeat;
  z-index: 0; /* stays at the very back */
  pointer-events: none; /* ensures it never blocks clicks */
}

@keyframes scroll {
  100% {
    background-position: -3000px 0px;
  }
}

.hero-content {
  display: flex;
  justify-content: space-between;;
  align-items: flex-start; /* keeps text + image aligned at the top */
  gap: 2rem; /* spacing between text and image */
}

.hero-text {
  flex: 1; /* takes up more space (left side) */
}

.hero-section p {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 0.25rem;
  padding-left: 3vw;
  color: #fff;
}

.hero-wrapper {
  position: relative;
}

.hero-image {
  position: absolute;
  top: 7%;      /* adjust vertical position */
  right: 7%;     /* pushes it to the far right */
}

.hero-image img {
  width: 35vw;
  height: auto;
}

.hero-header h1 {
  font-family: product-sans, sans-serif;
  font-weight: bold;
  font-size: 5rem;
  margin-bottom: 0.5rem;
  padding-left: 3vw;
  padding-top: 3vw;
  color: #f89899;
}

.hero-section {
  width: 25vw;
  max-width: auto;
  height: 70vh;
  min-height: 400px;
  align-items: left;
  border-radius: 2rem;
  color: #fff;
  font-family: product-sans, sans-serif;
  z-index: 1;         /* ensures hero sits above background */
  align-items: left;
}

.hero-content {
  display: flex;
  flex-direction: column; /* stack children vertically */
  align-items: flex-start; /* or center, depending on design */
  text-align: left;
}

.hero-button, .cv-button {
  background-color: #f89899;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  box-shadow: #1a001a 4px 4px 0 0;
  color: #1a001a;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  font-family: Satoshi, Arial, sans-serif;
  transition: color 0.3s ease, background-color 0.3s ease;
  position: relative; /* ensure button itself is on top */
  z-index: 2;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #d16b6c;
  color: #ffedf8;
  outline: 2px solid #f7def3;
  outline-offset: 2px;
  text-decoration: none;
}

.hero-button:active {
  box-shadow: #1a001a 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.download-icon {
  vertical-align: middle;;
}

.hero-buttons {
  display: flex;
  gap: 1rem; /* space between buttons */
  justify-content: center; /* centers them horizontally in the container */
  align-items: center;
}