@font-face {
    font-family: 'Satoshi';
    src: url('../Fonts/Satoshi/Fonts/OTF/Satoshi-Medium.otf') format('opentype');
    font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

html {
	height: 100%;
	width: 100%;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	max-width: 100%;
    min-height: 100vh;
    overflow-x: hidden; /* allow vertical scrolling, prevent horizontal */
    position: relative;
    color: white;
}

.background {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: repeating-linear-gradient(-45deg, #ffb1af, #f17a7a, #b4454a);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease-in-out infinite;
    pointer-events: none;
    z-index: -1;
    transition: transform 0.1s ease-out;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

.site-header {
    background: transparent;
    padding: 20px 0;
    z-index: 10;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    flex-wrap: wrap;
    position: relative;
    z-index: 10;
}

#logo {
    width: auto;
    color: #fbeee0;
    font-family: Satoshi;
    text-decoration: none;
    transition: color 0.3s ease;
    text-shadow: #422800 4px 4px 0 0 ;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    z-index: 10;
}

#logo:hover {
}

.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 30px;
    top: 2rem;
}

/* Button styling from: https://getcssscan.com/css-buttons-examples, by UIForms */

a.nav-button {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: Satoshi;
}

a.nav-button:hover {
  background-color: #fff;
  transition: color 0.5s ease;
}

a.nav-button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  a.nav-button {
    min-width: 120px;
    padding: 0 25px;
}
}

/* Hamburger Menu for Mobile */
.menu-toggle {
    display: none;
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    align-self: flex-start;
    top: 1.6rem;
    left: 1rem;
    position: fixed;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .nav-bar {
        justify-content: center;
        position: relative;
        display: flex;
        align-self: center
    }

    .nav-bar ul {
        flex-direction: column;
        width: 100%;
        display: none;
        margin-top: 10px;
        align-items: flex-start;
    }

    .nav-bar ul.active {
        display: block;
    }

    .menu-toggle {
        display: block;
        align-self: flex-start;
    }
}